// horizontal cards
.card-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.card-horizontal {
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.card-horizontal-image {
  width: 30%;
  height: 225px;
  overflow: hidden;
}

.card-horizontal-image img {
  width: 100%;
  min-height: 100;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-horizontal-text {
  width: 40%;
  padding: 30px;
  background-color: $light-gray;
}

.card-horizontal-pricing {
  width: 30%;
  padding: 10px;
  background-color: $light-gray;
  text-align: right;
  color: $gray;
  font-size: 25px;
}

.card-horizontal-title {
  font-weight: bold;
}

.price-container {
  padding: 20px;
  text-align: right;
  color: $orange-pink;
}

.card-horizontal-momma{
  color: $orange-pink;
}

.my-orders{
  color: $red;
}

.card-horizontal-status-1{
  color: black;
  margin-top: 45px;
  font-size: 20px;
}

.delete-link{
  color: $orange-pink;
}
