// Specific CSS for your home-page

h3 {
  text-align: center;
  margin: 32px 0;
}

// category tag
.category-tag{
  display: inline-block;
	margin: 8px 8px;
	padding: 0 8px 4px;
	text-decoration: none;
	color: white;
	background-color: $orange-pink;
	border: 1px solid #E74646;
	border-left: 5px solid #E74646;
}

.category-tag p {
  margin: 0;
  font-size: 18px;
  font-family: $body-font;
  font-weight: lighter;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;
    padding: 20px;
  }

  footer {
    margin-top: auto;
    padding: 10px;
  }
}
