// Specific CSS for your home-page

h3 {
  text-align: center;
  margin: 32px 0;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;
    padding: 20px;
  }

  footer {
    margin-top: auto;
    padding: 10px;
  }
}
