// horizontal cards
.card-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.card-horizontal {
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.card-horizontal-image {
  width: 30%;
  height: 225px;
  overflow: hidden;
}

.card-horizontal-image img {
  width: 100%;
  min-height: 100;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-horizontal-text {
  width: 40%;
  padding: 10px;
  background-color: $light-gray;
}

.card-horizontal-status-2 {
  width: 30%;
  padding: 10px;
  background-color: $light-gray;
  text-align: right;
  color: $orange-pink;
}

.price-container {
  padding: 20px;
  text-align: right;
  color: $orange-pink;
}

.card-horizontal-momma{
  color: $orange-pink;
}

.my-orders{
  color: $red;
}


.delete-link{
  color: $orange-pink;
}

.card-horizontal-date{
  margin-top: 10px;
}

.card-horizontal-price{
  margin-top: 40px;
}
