<div class="container">
  <h3 class="my-3">My Requests</h3>
  <div class="row justify-content-center">
    <% if @bookings.any? %>
      <% @bookings.each do |booking| %>
        <div class="col-8">
        <p><%= booking.listing.name %></p>
        <p><%= booking.listing.price %>JPY</p>
        <% if booking.listing.photo.attached? %>
          <%= image_tag booking.listing.photo %>
        <% end %>
        <p><%= booking.listing.status %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
