<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="bg-white rounded-4 p-3 shadow">
        <h2 class="text-center">Find your account</h2>
        <hr>
        <p>Please enter your email to search for your account.</p>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "form-control w-100 py-2" } %>
          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, "Search", class: "btn btn-outline-info w-100 py-2" %>
          </div>
        <% end %>
        <hr>
        <div>
          <a class="py-2 d-flex align-items-center" href="/" role="button" aria-label="Back to Home">
            Back Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
