.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.mom-avatar-bordered{
  position: absolute;
  right: 22px;
  top: 232px;
  border-radius: 50px;
  width: 105px;
  height: 105px;
  box-shadow: 5 5 15px rgba(0,0,0,0.2);
  border: $pink 1px solid;
  transition: box-shadow 2s ease-out, transform 1s ease-out;

    &:hover {
    box-shadow: 0 10px 10px 5px rgb(0, 0, 0);
    transform: translateY(-10px);
    }
  }
