.show-page-card {
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 12px 12px 0 0;
  }


// mom-card
.show-mom-card {
  border-radius: 12px 12px 0 0;
  display: flex;
  background-color: $light-pink;
  padding: 30px;
  border-bottom-style: dashed;
}
.show-mom-img {
  border-radius: 12px;
  height: 350px;
  width: 350px;
  margin-right: 50px;
  box-shadow: 0 10px 10px 5px rgb(0, 0, 0);
  // transition: box-shadow 2s ease-out, transform 1s ease-out;
}

.show-mom-info {
 width: 100%;
}

.show-mom-info h2 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    padding: 30px;
    font-family: $headers-font;
  }

.show-mom-info ul {
    font-size: 22px;
    font-family: $body-font;
  }



// food-card

.show-food-card {
  display: flex;
  padding: 20px;
  border-radius: 0 0 12px 12px;
}

// .show-food-info {
// }

.show-food-card img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 50px;
  // box-shadow: 0 10px 10px 5px rgb(0, 0, 0);
}

.show-food-info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 16px;

}
.show-food-info h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  font-family: $headers-font;
}

.show-food-info p {
  font-size: 20px;
  font-family: $body-font;
  margin: 0;
  padding-top: 12px;
}

.request-pink-button {
  text-align:right;
}
.request-pink-button .pink-button {
  font-size: 22px;
  margin: 15px;
}
