

.card-link{
  border-radius: 12px;
  font-family: $body-font;

}
.cards {
  border: none;
}
.description p {
  padding: 0;
  justify-content: center;
}


.card {
  box-shadow: 0 0 10px rgba(0,0,0,0);
  margin: 24px;
  border-radius: 12px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
}

.price {
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
}

.description {
  margin: 20px;
  font-size: 20px;
}

// -------------------
// -------------------

/*Card pick*/
.card-listing {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  height: 280px;
  width: 350px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
}
.card-listing img {
  /*fixed*/
  width: 100%;
  min-height: 150px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.card-listing-info {
  /*customizable*/
  padding: 24px 16px;
  font-size: 12px;
  line-height: 1.2;
}
.card-listing-info h5 {
  /*customizable*/
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.card-listing:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
